/* === Masked Block === */
.kofi-masked-block {
  position: relative;
  --masked-border-radius: $kofik-default-br;
}

.kofi-masked-content,
.kofi-masked-content.at-top-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}

.kofi-masked-content.at-top-right {
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
}

.kofi-masked-content.at-bottom-left {
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
}

.kofi-masked-content.at-bottom-right {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.kofi-masked-content.at-middle-right,
.kofi-masked-content.at-middle-left {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.kofi-masked-content.at-middle-right {
  right: 0;
  left: auto;
}

.kofi-masked-content.at-middle-left {
  left: 0;
  right: auto;
}

.kofi-masked-content.at-top-center,
.kofi-masked-content.at-bottom-center {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

.kofi-masked-content.at-top-center {
  top: 0;
  bottom: auto;
}

.kofi-masked-content.at-bottom-center {
  bottom: 0;
  top: auto;
}

/* Square Button */
.kofi-masked-content .kofi-square-button,
.kofi-masked-content.at-top-left .kofi-square-button {
  margin: 0 $stg-small-gap $stg-small-gap 0;
}

.kofi-masked-content.at-top-right .kofi-square-button {
  margin: 0 0 $stg-small-gap $stg-small-gap;
}

.kofi-masked-content.at-bottom-left .kofi-square-button {
  margin: $stg-small-gap $stg-small-gap 0 0;
}

.kofi-masked-content.at-bottom-right .kofi-square-button {
  margin: $stg-small-gap 0 0 $stg-small-gap;
}

.kofi-masked-content.at-top-center .kofi-square-button {
  margin: 0 $stg-small-gap $stg-small-gap $stg-small-gap;
}

.kofi-masked-content.at-bottom-center .kofi-square-button {
  margin: $stg-small-gap $stg-small-gap 0 $stg-small-gap;
}

.kofi-masked-content.at-middle-left .kofi-square-button {
  margin: $stg-small-gap $stg-small-gap $stg-small-gap 0;
}

.kofi-masked-content.at-middle-right .kofi-square-button {
  margin: $stg-small-gap 0 $stg-small-gap $stg-small-gap;
}

/* Content Padding */
.kofi-masked-content > div,
.kofi-masked-content.at-top-left > div {
  padding: 0 $stg-small-gap $stg-small-gap 0;
}

.kofi-masked-content.at-top-right > div {
  padding: 0 0 $stg-small-gap $stg-small-gap;
}

.kofi-masked-content.at-bottom-left > div {
  padding: $stg-small-gap $stg-small-gap 0 0;
}

.kofi-masked-content.at-bottom-right > div {
  padding: $stg-small-gap 0 0 $stg-small-gap;
}

.kofi-masked-content.at-top-center > div {
  padding: 0 $stg-small-gap $stg-small-gap $stg-small-gap;
}

.kofi-masked-content.at-bottom-center > div {
  padding: $stg-small-gap $stg-small-gap 0 $stg-small-gap;
}

.kofi-masked-content.at-middle-left > div {
  padding: $stg-small-gap $stg-small-gap $stg-small-gap 0;
}

.kofi-masked-content.at-middle-right > div {
  padding: $stg-small-gap 0 $stg-small-gap $stg-small-gap;
}


.kofi-masked-cta-content {
  text-align: right;
  width: 350px;
}

.kofi-masked-cta-content p {
  display: block;
  padding: 0 0 $stg-d-gap $stg-d-gap;
}


.kofi-large-text {
  font-size: $kofik-t-large-fs;
  line-height: $kofik-t-content-lh;
  color: $gray-900-dark;
}

[data-appear*="zoom-"].in-view,
[data-appear*="fade-"].in-view {
  opacity: 1;
  transform: scale(1) translate(0, 0);
}


/* === Masked CTA === */

.kofik-masked-cta-content {
  text-align: right;
  width: 350px;
}

.kofik-masked-cta-content p {
  display: block;
  padding: 0 0 24px 24px;
}